{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load jformat %}

{% block css %}
<!-- Bootstrap css-->
<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

<!-- Icons css-->
<link href="{% static 'assets/plugins/web-fonts/icons.css' %}" rel="stylesheet"/>
<link href="{% static 'assets/plugins/web-fonts/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/web-fonts/plugin.css' %}" rel="stylesheet"/>

<!-- Style css-->
<link href="{% static 'assets/css-rtl/style/style.css' %}" rel="stylesheet">
<link href="{% static 'assets/css-rtl/skins.css' %}" rel="stylesheet">
<link href="{% static 'assets/css-rtl/dark-style.css' %}" rel="stylesheet">
<link href="{% static 'assets/css-rtl/colors/default.css' %}" rel="stylesheet">

<!-- Color css-->
<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/css-rtl/colors/color.css' %}">

<!-- Select2 css -->
<link href="{% static 'assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">

<!-- Internal DataTables css-->
<link href="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/datatable/responsivebootstrap4.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}" rel="stylesheet" />

<!-- Sidemenu css-->
<link href="{% static 'assets/css-rtl/sidemenu/sidemenu.css' %}" rel="stylesheet">

<!-- Switcher css-->
<link href="{% static 'assets/switcher/css/switcher-rtl.css' %}" rel="stylesheet">
<link href="{% static 'assets/switcher/demo.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}
مدیران
{% endblock title %}

{% block main-inner-content %}
<!-- Page Header -->
<div class="page-header">
	<div>
		<h2 class="main-content-title tx-24 mg-b-5"> مدیریت </h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'panel:home' %}">خانه</a></li>
			<li class="breadcrumb-item active" aria-current="page">مدیران</li>
		</ol>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="card custom-card overflow-hidden">
			<div class="card-body">
				<div>
					<button class="btn btn-primary mb-3" data-toggle="modal" data-target="#modal-create">ایجاد مدیر جدید</button>
					<!-- Create Modal -->
					<div class="modal fade" id="modal-create">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">ساخت مدیر جدید</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<!-- form start -->
									<form  method="POST" action="{% url 'panel:create_staff_user' %}"  enctype="multipart/form-data">
										{% csrf_token %}
										<div class="card-body">
											<div class="form-group">
												<label for="id_full_name">نام</label>
												{% render_field create_user_form.full_name class+="form-control" placeholder="نام کاربر را وارد کنید" required="required" %}
											</div>
											<div class="form-group">
												<label for="id_email">پست الکترونیک</label>
												{% render_field create_user_form.email class+="form-control" placeholder="ایمیل کاربر را وارد کنید" required="required" %}
											</div>
											<div class="form-group">
												<label for="id_password1">کلمه عبور</label>
												{% render_field create_user_form.password1 class+="form-control" placeholder="رمز ورود کاربر را وارد کنید" required="required" %}
											</div>
											<div class="form-group">
												<label for="id_avatar">تصویر پروفایل</label>
												<div class="input-group">
													<div class="custom-file">
														{% render_field create_user_form.avatar class+="custom-file-input" %}
														<label class="custom-file-label" for="id_avatar">Choose file</label>
													</div>
												</div>
											</div>
										</div>
										<!-- /.card-body -->

										<div class="card-footer">
											<button type="submit" class="btn btn-primary">ایجاد</button>
										</div>
									</form>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
				</div>
				<div class="table-responsive">
					<table id="table" class="table table-bordered table-striped text-center">
						<thead>
							<tr>
								<th>پروفایل کاربری</th>
								<th>نام و نام خانوادگی</th>
								<th>نام نمایشی</th>
								<th>ایمیل</th>
								<th>تاریخ عضویت</th>
								<th>عملیات</th>
							</tr>
						</thead>
						<tbody >
						{% for management_user in users %}
							<tr>
								<td>
									{% if management_user.avatar %}
									<img class="rounded-circle" src="{{ management_user.avatar.url }}" alt="" width="50" height="50">
									{% else %}
									<img class="rounded-circle" src="{% static 'assets/img/users/default_user.png' %}" alt="" width="50" height="50">
									{% endif %}
								</td>
								<td>{{ management_user.full_name }} </td>
								<td>{{ management_user.nick_name }} </td>
								<td>{{ management_user.email }}</td>
								<td >
									<button class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{ management_user.create_at|jformat:'%A، %d %B %Y - %H:%M:%S' }}">
										{{ management_user.create_at|jformat:"%A، %d %B %Y" }}
									</button>
								</td>
								<td class="text-center">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-sliders-h"></i>
									</button>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<button type="button" class="btn btn-success dropdown-item" data-toggle="modal" data-target="#modal-edit{{management_user.id}}" ><i  class="fas fa-user-edit"></i>ویرایش</button>
										
										{% if management_user != user %}
											<button type="button" class="dropdown-item" data-toggle="modal" data-target="#modal-delete{{management_user.id}}" ><i style="color:red" class="fas fa-user-minus"></i>حذف</button>
										{% endif %}
											
									</div>
								</td>

							</tr>
							{% if management_user != user %}
							<!-- Delete Modal -->
							<div class="modal fade" id="modal-delete{{ management_user.id }}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">حذف مدیر</h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<h5>آیا در حذف مدیر  
												{% if management_user.full_name %}
													"{{ management_user.full_name }}"
												{% elif management_user.nick_name %}
													"{{ management_user.nick_name }}"
												{% else %}
													"{{ management_user.email }}"
												{% endif %}
												مطمئن هستید؟ </h5>
										</div>
										<div class="modal-footer justify-content-between">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
											<form action="{% url 'panel:delete_staff_user' management_user.id %}" method="POST">
												{% csrf_token %}
												<button type="submit" class="btn btn-danger">حذف</button>
											</form>

										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->
							{% endif %}

							<!-- Change Modal -->
							<div class="modal fade" id="modal-edit{{management_user.id}}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">ویرایش مدیر</h4>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<!-- form start -->
											<form  method="POST" action="{% url 'panel:update_staff_user' management_user.id %}"  enctype="multipart/form-data">
												{% csrf_token %}
												{% comment %} <div class="card-body">
													<div class="form-group">
														<label for="id_nick_name">نام نمایشی</label>
														{% render_field update_user_form.nick_name class+="form-control" placeholder="نام  نمایشی کاربر را وارد کنید" %}
													</div>
													<div class="form-group">
														<label for="id_full_name">نام و نام خانوادگی</label>
														{% render_field update_user_form.full_name class+="form-control" placeholder="نام و نام خانوادگی کاربر را وارد کنید" %}
													</div>
													<div class="form-group">
														<label for="id_email">پست الکترونیک</label>
														{% render_field update_user_form.email class+="form-control" placeholder="ایمیل کاربر را وارد کنید" required="required" %}
													</div>
													<div class="form-group">
														<label for="id_password">کلمه عبور</label>
														{% render_field update_user_form.password class+="form-control" placeholder="کلمه عبور کاربر را وارد کنید" %}
													</div>
													<div class="form-group">
														<label for="id_phone">تلفن</label>
														{% render_field update_user_form.phone class+="form-control" placeholder="شماره تلفن کاربر را وارد کنید" %}
													</div>
													<div class="form-group">
														<label for="id_address">آدرس</label>
														{% render_field update_user_form.address class+="form-control" placeholder="آدرس کاربر را وارد کنید" %}
													</div>
													<div class="form-group">
														<label for="id_avatar">تصویر پروفایل</label>
														<div class="input-group">
															<div class="custom-file">
																{% render_field update_user_form.avatar class+="custom-file-input" %}
																<label class="custom-file-label" for="id_avatar">Choose file</label>
															</div>
														</div>
													</div>
													<div class="form-group row row-sm">
														<div class="mg-t-20 mg-lg-t-0">
															<label class="ckbox">{% render_field update_user_form.is_active %}<span>فعال بودن</span></label>
														</div>
													</div>
												</div> {% endcomment %}
												<div class="card-body">
													<div class="form-group">
														<label for="id_nick_name">نام نمایشی</label>
														<input type="text" name="nick_name" maxlength="128" class="form-control" placeholder="نام  نمایشی کاربر را وارد کنید" {% if management_user.nick_name %} value="{{ management_user.nick_name }}" {% endif %} id="id_nick_name">
													</div>
													<div class="form-group">
														<label for="id_full_name">نام و نام خانوادگی</label>
														<input type="text" name="full_name" maxlength="128" class="form-control" placeholder="نام و نام خانوادگی کاربر را وارد کنید" {% if management_user.full_name %} value="{{ management_user.full_name }}" {% endif %} id="id_full_name">
													</div>
													<div class="form-group">
														<label for="id_email">پست الکترونیک</label>
														<input type="email" name="email" maxlength="254" class="form-control" required placeholder="ایمیل کاربر را وارد کنید" {% if management_user.email %} value="{{ management_user.email }}"{% endif %} id="id_email">
													</div>
													<div class="form-group">
														<label for="id_password">کلمه عبور</label>
														<input type="password" name="password" class="form-control" placeholder="کلمه عبور کاربر را وارد کنید" id="id_password">
													</div>
													<div class="form-group">
														<label for="id_phone">تلفن</label>
														<input type="text" name="phone" maxlength="13" class="form-control" placeholder="شماره تلفن کاربر را وارد کنید" {% if management_user.phone %} value="{{ management_user.phone }}" {% endif %} id="id_phone">
													</div>
													<div class="form-group">
														<label for="id_address">آدرس</label>
														<textarea name="address" cols="40" rows="2" class="form-control" placeholder="آدرس کاربر را وارد کنید" id="id_address">{% if management_user.address %} {{ management_user.address }} {% endif %}</textarea>
													</div>
													<div class="form-group">
														<label for="id_avatar">تصویر پروفایل</label>
														<div class="input-group">
															<div class="custom-file">
																<input type="file" name="avatar" accept="image/*" class="custom-file-input" id="id_avatar">
																<label class="custom-file-label" for="id_avatar">Choose file</label>
															</div>
														</div>
													</div>
													<div class="form-group row row-sm">
														<div class="mg-t-20 mg-lg-t-0">
															<label for="id_is_active" class="ckbox"><input {% if management_user.is_active %}checked{% endif %} type="checkbox" name="is_active" id="id_is_active"><span>فعال بودن</span></label>
														</div>
													</div>
												</div>
												<!-- /.card-body -->

												<div class="card-footer">
													<button type="submit" class="btn btn-primary">ویرایش</button>
												</div>
											</form>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<!-- /.modal -->

						{% endfor %}

					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock main-inner-content %}

{% block js %}
<!-- Jquery js-->
<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap js-->
<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap-rtl.js' %}"></script>

<!-- Perfect-scrollbar js -->
<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min-rtl.js' %}"></script>

<!-- Sidemenu js -->
<script src="{% static 'assets/plugins/sidemenu/sidemenu-rtl.js' %}"></script>

<!-- Sidebar js -->
<script src="{% static 'assets/plugins/sidebar/sidebar-rtl.js' %}"></script>

<!-- Select2 js-->
<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

<!-- Internal Data Table js -->
<script src="{% static 'assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/table-data.js' %}"></script>

<!-- Sticky js -->
<script src="{% static 'assets/js/sticky.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'assets/js/custom.js' %}"></script>

<!-- Switcher js -->
<script src="{% static 'assets/switcher/js/switcher-rtl.js' %}"></script>
{% endblock js %}

{% block domready %}
<script>
    $(function () {
        $("#table").DataTable({
            "responsive": true,
            "autoWidth": false,
            "rtl" : true,
            "language": {
                "paginate": {
                    "previous": "قبلی",
                    "next" : "بعدی"
                },
                "sLengthMenu": "تعداد رکورد در صفحه _MENU_ ",
                "sSearch" : "جستجو:",
                "emptyTable":     "هیچ داده ای برای نمایش موجود نیست",
                "info":           "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "infoEmpty":      "نمایش 0 تا 0 از 0 رکورد",

                "infoFiltered":   "(نتیجه جستجو بین _MAX_ رکورد)",
                "zeroRecords":    "اطلاعاتی مبنی بر جستجو شما موجود نیست...",
            },



        });
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

	$(function(){
		$("ul.pagination").css("justify-content", "start")
	});
</script>
{% endblock domready %}